@import '~styles.scss';

.ak-landing {
    margin-left: -1em; /* to account for offset caption */
    transition: margin 200ms;
}

.ak-image-container {
    display: flex;  
    justify-content: center;
}

.ak-image {
    box-shadow: $ak-transparent-gray -40px 42px 88px;
    height: 65vw;
    max-height: 400px;
    transition: height 200ms;

    @media all and ( min-width: 31.25em ) { /* 500px */
        height: 60vw;
    }

}

.ak-caption {
    background: $ak-light-blue;
    background: linear-gradient(to bottom right, $ak-light-blue, $ak-teal);
    color: $ak-white;
    font-size: $ak-xs-font;
    line-height: $ak-small-line-height;
    margin: -40px 0 0 40px;
    max-width: 450px; 
    padding: 2em;
    position: relative;
    text-align: left;
    transition: all 200ms;
    width: 60vw;

    @media all and ( min-width: 23.4375em ) { /* 375px */
        width: 65vw;
    }

    @media all and ( min-width: 31.25em ) { /* 500px */
        font-size: $ak-small-font;
    }   
    
    @media all and ( min-width: 43.75em ) { /* 700px */
        margin: -60px 0 0 60px;
        width: 60vw;
    }
}