@import '~styles.scss';

.ak-content-area {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.ak-arrow {
    cursor: pointer;
    padding: 1em 0;
    transition: opacity 300ms;
    width: 1.8em;

    &:hover {
        opacity: 0.6;
    }

    @media all and ( min-width: 43.75em ) { /* 700px */
        width: 3.6em;
    }
}

.ak-map {
    height: 60vh; 
    transition: height 300ms;

    @media all and ( min-width: 49.0625em ) { /* 785px */
        height: 80vh;
    }
}

.ak-content-area__item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    transition: all 300ms;
    
    @media all and ( min-width: 43.75em ) { /* 700px */
        align-items: center;
        flex-direction: row;
    }
}

.ak-content-area__key {
    color: $ak-transparent-gray;
    display: block;
    font-family: $ak-heading-font;
    font-size: $ak-xxl-font;
    font-weight: $ak-heading-font-weight;
    position: absolute;
    transition: all 300ms;   
    
    @media all and ( min-width: 43.75em ) { /* 700px */
        font-size: $ak-xxxl-font;
    }
}

.ak-content-area__value {
    color: $ak-white;
    font-size: $ak-large-font;
    padding: 2em 0 2em 2em;
    position: relative;
    transition: all 300ms;

    @media all and ( min-width: 43.75em ) { /* 700px */
        padding: 4em 0 1em 4em;
    }
}

.ak-map__box {

    fill: $ak-dark-teal;
    fill-opacity: 0;

    &--active {
        cursor: pointer;

        &:hover {
            fill-opacity: 1;
        }
    }

    &--hover {
        fill-opacity: 1;
    }
}

.ak-map__label {
    fill: $ak-white;
    font-size: $ak-large-font; 

    &--active {
        cursor: pointer;
    }
}

.ak-animation-trigger {
    color: $ak-white;
    cursor: pointer;
    text-decoration: underline;

    &:hover,
    &:visited {
        color: $ak-coral;
    }
}
