<nav class="ak-nav__container">
  
  <img class="ak-nav__hamburger" src="../../assets/images/hamburger.png" (click)="toggleMobileMenu()" />

  <!-- overlay mobile menu -->
   <div *ngIf="mobileMenuShown" 
        [@fadeInFastAnimation] 
        class="ak-nav__hamburger-menu">
      <div class="ak-nav__hamburger-header">
        <div>Anna Kutch</div>
        <img (click)="toggleMobileMenu()" class="ak-close-x" src="../assets/images/x.svg" alt="close" />  
      </div>
      <div class="ak-nav-items--mobile">
        <div routerLink="home" class="ak-nav-item ak-nav-item--mobile" (click)="toggleMobileMenu()">Home</div>
        <div class="ak-nav-line ak-nav-line--mobile"></div>
        <div routerLink="about" class="ak-nav-item ak-nav-item--mobile" (click)="toggleMobileMenu()">About</div>
        <div class="ak-nav-line ak-nav-line--mobile"></div>
        <div routerLink="work" class="ak-nav-item ak-nav-item--mobile" (click)="toggleMobileMenu()">Work</div>
        <div class="ak-nav-line ak-nav-line--mobile"></div>
        <div routerLink="contact" class="ak-nav-item ak-nav-item--mobile" (click)="toggleMobileMenu()">Contact</div>
        <div class="ak-nav-line ak-nav-line--mobile"></div>
      </div>
  </div> 
  
  <!-- left side menu -->
  <ul class="ak-nav-items" [ngClass]="{ 'ak-nav-items--light': isGradientBackground }">
    <li routerLink="home" class="ak-nav-item">Home</li>
    <li class="ak-nav-line" [ngClass]="{ 'ak-nav-line--light': isGradientBackground }"></li>
    <li routerLink="about" class="ak-nav-item">About</li>
    <li class="ak-nav-line" [ngClass]="{ 'ak-nav-line--light': isGradientBackground }"></li>
    <li routerLink="work" class="ak-nav-item">Work</li>
    <li class="ak-nav-line" [ngClass]="{ 'ak-nav-line--light': isGradientBackground }"></li>
    <li routerLink="contact" class="ak-nav-item">Contact</li>
    <li class="ak-nav-line" [ngClass]="{ 'ak-nav-line--light': isGradientBackground }"></li>
  </ul>
</nav>
