@import '_variables';
@import '_generic';

html, body {
    height: 100%;
}

body {
    color: $ak-dark-gray;
    font-family: Courier New, Courier, monospace;
    margin: 0;
}

h1 {
    font-weight: normal;
    margin: 0;
}

li {
    outline: none;
}

figure {
    margin: 0;
}
