// regular colors
$ak-blue:       #008AF0;
$ak-light-blue: #69A2B2;
$ak-coral:      #FA8674;
$ak-light-gray: #EEF0F2;
$ak-teal:       #83BAAC;
$ak-white:      #FFFFFF;

// transparent colors
$ak-transparent-gray: rgba(0, 0, 0, .14);

// font sizes
$ak-small-font: 0.875em; /* 14px */
$ak-medium-font: 1em; /* 16px */

// line heights
$ak-small-line-height: 1.4375; /* 23px */
$ak-medium-line-height: 1.5625; /* 25px */
