// regular colors
$ak-blue:       #008AF0;
$ak-coral:      #FA8674;
$ak-dark-coral: #B05F53;
$ak-dark-gray:  #585858;
$ak-dark-teal:  #367184;
$ak-light-blue: #69A2B2;
$ak-light-gray: #EEF0F2;
$ak-teal:       #83BAAC;
$ak-white:      #FFFFFF;

// transparent colors
$ak-transparent-gray: rgba(0, 0, 0, .14);

// gradients
$ak-gradient: linear-gradient(to bottom right, $ak-light-blue, $ak-teal);
$ak-dark-gradient: linear-gradient(to bottom right, $ak-dark-teal, $ak-light-blue);
$ak-coral-gradient: linear-gradient(to bottom right, $ak-coral, $ak-dark-coral);

// font sizes
$ak-xs-font:            0.75em; /* 12px */
$ak-small-font:         0.875em; /* 14px */
$ak-medium-font:        1em; /* 16px */
$ak-large-font:         1.25em; /* 20px */
$ak-extra-large-font:   1.75em; /* 28px */
$ak-xxl-font:           3em; /* 48px */
$ak-xxxl-font:          4em; /* 64px */

// line heights
$ak-small-line-height:  1.4375; /* 23px */
$ak-medium-line-height: 1.5625; /* 25px */

// fonts 
$ak-body-font: 'Roboto Mono', Courier New, Courier, monospace;
$ak-body-font-weight: 300;
$ak-heading-font: 'Playfair Display', serif;
$ak-heading-font-weight: 700;