<div class="ak-page-content ak-page-content--flex">
  <div class="ak-work-items">
    <div class="ak-work-item">
      Fidelity
    </div>
    <div class="ak-work-item">
      MARE
    </div>
  </div>
  
  <div class="ak-links">
    <a class="ak-link ak-link--space-around" href="https://github.com/akutch/kutch-codes" title="The Codes" target="_blank">GitHub</a>
    <a class="ak-link ak-link--space-around" href="../assets/files/Anna-Kutch-Resume.pdf" title="Anna Kutch Resume" target="_blank">Resume</a>
    <a class="ak-link ak-link--space-around" href="https://www.linkedin.com/in/annakutch/" target="_blank" title="Anna Kutch on LinkedIn">LinkedIn</a>
  </div>
  
</div>
