@import '~styles.scss';

.ak-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ak-skill {
    align-items: center;
    background: $ak-coral;
    color: $ak-white;
    cursor: pointer;
    display: flex;
    flex-basis: 15em;
    height: 7.5em;
    justify-content: center;
    margin: 1em 0.5em 0 0.5em;
    padding: 1em;
    transition: background 300ms; 

    &:hover {
        background: $ak-dark-coral;
    }

    &:last-child {
        margin-bottom: 2em;
    }
    
    @media all and ( min-width: 31.25em ) { /* 500px */
        flex-basis: 10em;
        height: 5em;
    }
}
