@import '~styles.scss';

.ak {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    @media all and ( min-width: 43.75em ) { /* 700px */
        align-items: center;
        flex-direction: row;
    }
}

.ak-page {
    align-items: center;
    display: flex;
    flex-grow: 3;
    justify-content: center;
}
