@import '~styles.scss';

.ak-modal {
    background: $ak-white;
    color: $ak-dark-gray;
    height: 100vh;
    left: 0;
    position: absolute;
    width: 100vw;
    top: 0;

    &--clemson {
        background: $ak-white;
        background: url('../../assets/images/giphy-tumblr.gif') no-repeat center center;
        background-size: cover;
        opacity: 1;

        &:before {
            background-image: $ak-coral-gradient;
            bottom: 0;
            content: '';
            left: 0;
            opacity: .75; 
            position: absolute;
            right: 0;
            top: 0;
          }

    }
}

.ak-modal__title {
    
    &--clemson {
        align-items: center;
        color: $ak-white;
        font-size: $ak-extra-large-font;
        display: flex;
        justify-content: center;
        position: absolute; 
        height: 100vh;
        transition: font-size 300ms;
        width: 100vw;

        @media all and ( min-width: 600px ) {
            font-size: $ak-xxl-font;
        }

        @media all and ( min-width: 800px ) {
            font-size: $ak-xxxl-font;
        }
    }
}

.tigers {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;

    &--hidden {
        display: none;
    }
}

.tiger {
    animation: drop 0.5s linear infinite;
    background: url('../../assets/images/small-tiger.png') center center no-repeat;
    height: 24px;
    position: absolute;
    width: 24px;
}

@keyframes drop {
    0% {
      transform: translateY(0vh);
    }

    75% {
      transform: translateY(90vh);
    }

    100% {
      transform: translateY(110vh);
    }
}
